* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

header {
    padding: 44px 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__link {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #83888F;
}

.closed__menu {
    display: none;
}

.burger__menu {
    max-width: 300px;
    height: 100vh;
    background-color: #0E8784;
    color: white;
    padding: 20px;
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}

.close__btn {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    margin-top: 27px;
    margin-left: 95px;
}

.burger__list {
    margin-top: 30px;
    text-align: center;
}
.burger__item {
    margin-bottom: 20px;
}

.burger__link {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
}

.btn__open {
    background: none;
    border: none;
    color: black;
    font-size: 30px;
}

.btn {
    display: none;
}

@media screen and (max-width: 600px) {
    .header__list{
        gap: 30px;
    }
}

@media screen and (max-width: 570px) {
    .header__logo {
        max-width: 180px;
    }
    .header__link{
        font-size: 10px
    }
}

@media screen and (max-width: 470px) {
    .btn {
        display: block;
    }

    .header__list {
        display: none;
    }
}